.About {
    display: flex;
    flex-direction: column;
}

.About__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.About__card {
    display: flex;
    margin: 4em 2em 4em 2em;
    max-width: 25vw;
}

.About__card-body {
    height: 100%;
}


.About__card-btn {
    display: flex;
}

.About__card-img {
    height: 32rem;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .About__row {
        display: flex;
        flex-direction: column;
    }

    .About__card {
        margin: 1em auto;
        max-width: 100vw;
        width: 90vw;
    }
  
}